@media (max-width: 880px) {
  .btn {
    margin-top: 1rem;
  }

  .product-img-container {
    .product-img {
      width: 100%;
    }

    .thumbnail {
      display: none;
    }

    .arrow {
      position: absolute;
      top: 30rem;
      cursor: pointer;

      &.left {
        left: 2rem;
      }

      &.right {
        right: 2rem;
      }
    }
  }

  .product-info {
    padding: 1.5rem;
    align-items: center;
  }
}

@media (min-width: 880px) {
  .page-container {
    display: flex;
    gap: 7.5rem;
    padding: 5rem 2rem;
  }

  .purchase-controls {
    display: flex;
  }

  .item-quantity-control {
    width: 50%;
    margin-right: 1rem;
  }

  .price-info {
    flex-wrap: wrap;
  }

  h2 {
    margin: 0;
  }

  .original-price {
    margin-top: 1.75rem;
  }

  .discounted-price {
    flex-basis: 100%;
    margin-bottom: 2rem;
  }
}

.item-quantity-control {
  border-radius: 0.625rem;
  background-color: #f6f8fd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  fa-icon {
    color: #ff7e1b;
  }
}

.price-info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .original-price {
    display: flex;
    align-items: center;
  }
}

.btn {
  width: 100%;

  fa-icon {
    margin-right: 1rem;
  }
}

.thumbnail-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
