<app-nav-bar (openCart)="cartOpen = true"></app-nav-bar>

<div class="page-container">
  <div class="product-img-container">
    <img
      class="arrow left"
      src="assets/left-arrow.svg"
      (click)="changePicture('down')"
    />
    <img
      class="arrow right"
      src="assets/right-arrow.svg"
      (click)="changePicture('up')"
    />

    <img
      class="product-img"
      (click)="productModalOpen = true"
      [src]="'assets/image-product-' + currentlySelectedPicture + '.jpg'"
    />

    <div class="thumbnail-container">
      <img
        class="thumbnail"
        [class.selected]="currentlySelectedPicture === '1'"
        (click)="currentlySelectedPicture = '1'"
        src="assets/image-product-1-thumbnail.jpg"
      />
      <img
        class="thumbnail"
        [class.selected]="currentlySelectedPicture === '2'"
        (click)="currentlySelectedPicture = '2'"
        src="assets/image-product-2-thumbnail.jpg"
      />
      <img
        class="thumbnail"
        [class.selected]="currentlySelectedPicture === '3'"
        (click)="currentlySelectedPicture = '3'"
        src="assets/image-product-3-thumbnail.jpg"
      />
      <img
        class="thumbnail"
        [class.selected]="currentlySelectedPicture === '4'"
        (click)="currentlySelectedPicture = '4'"
        src="assets/image-product-4-thumbnail.jpg"
      />
    </div>
  </div>

  <div class="product-info">
    <h4>Sneaker Company</h4>
    <h1>Fall Limited Edition Sneakers</h1>
    <p>
      These low-profile sneakers are your perfect casual wear companion.
      Featuring a durable rubber outer sole, they’ll withstand everything the
      weather can offer.
    </p>
    <div class="price-info">
      <div class="original-price">
        <h2>$125.00</h2>
        <span class="discount">50%</span>
      </div>
      <span class="discounted-price">$250.00</span>
    </div>
    <div class="purchase-controls">
      <div class="item-quantity-control">
        <fa-icon
          [icon]="faMinus"
          (click)="quantity ? (quantity = quantity - 1) : quantity"
        ></fa-icon>
        <h3>{{ quantity }}</h3>
        <fa-icon [icon]="faPlus" (click)="quantity = quantity + 1"></fa-icon>
      </div>
      <button class="btn" (click)="addToCart()">
        <fa-icon [icon]="faCartShopping"></fa-icon>Add to cart
      </button>
    </div>
  </div>
</div>
<app-cart *ngIf="cartOpen" (close)="cartOpen = false"></app-cart>
<app-product-modal
  *ngIf="productModalOpen"
  (close)="productModalOpen = false"
></app-product-modal>
