@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

$primary: #ff7e1b;
$secondary: #ffeee2;

$text-primary: #69707d;
$text-secondary: #b6bcc8;
$heading-text: #1d2026;
$font-family: "Kumbh Sans", sans-serif;
$h2-font-size: 1.75rem;
$h3-font-size: 1rem;
$h3-line-height: 1.625rem;

$button-shadow: 0px 20px 50px -20px #ff7e1b;
$border-radius: 0.625rem;
$border-radius-lg: 0.9375rem;
$nav-border: #e4e9f2;

nav {
  display: flex;
  font-size: 1.25rem;
  align-items: center;
  justify-content: space-between;
}

body {
  max-width: 1800px;
  min-width: 500px;
  overflow-x: hidden;
  margin: 0;
}

fa-icon {
  cursor: pointer;
}

@media (max-width: 880px) {
  body {
    --h1-font-size: 1.75rem;
    --h1-line-height: 2rem;
    --h4-font-size: 0.75rem;
    --body-font-size: 0.9375rem;
    --body-line-height: 1.5625rem;
  }

  .cart {
    top: 6rem;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  app-product-modal {
    display: none;
  }

  nav {
    padding: 1rem;

    .menu-toggle {
      display: block;
    }

    fa-icon {
      margin-right: 1rem;

      &:hover {
        opacity: 0.5;
      }
    }

    &.hide-nav {
      .nav-items {
        display: none;
      }
    }

    div:not(.nav-items) {
      display: flex;
      align-items: center;
    }

    .nav-items {
      z-index: 1000;
      background-color: white;
      position: absolute;
      left: 0;
      height: 100%;
      top: 0;
      width: 14.125rem;
      padding: 1.5rem;

      fa-icon svg {
        margin-bottom: 2rem;
      }

      .nav-link {
        display: block;
        padding: 1.25rem 0;
        color: $heading-text;
        font-weight: 700;

        &:hover {
          opacity: 0.5;
          cursor: pointer;
        }
      }
    }
  }
}

@media (min-width: 880px) {
  .product-img-container {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-between;

    .arrow {
      display: none;
    }

    .product-img {
      border-radius: $border-radius-lg;
      grid-column: 1 / 5;
      width: 100%;
    }

    .thumbnail {
      grid-row-start: 2;
      border-radius: $border-radius;
      max-width: 120px;
      margin-right: 1rem;
      cursor: pointer;
      &:last-child {
        margin-right: 0;
      }
      &.selected {
        opacity: 0.6;
        border: 2px solid #ff7e1b;
      }
    }
  }

  body {
    --h1-font-size: 2.75rem;
    --h1-line-height: 3rem;
    --h4-font-size: 0.8125rem;
    --body-font-size: 1rem;
    --body-line-height: 1.625rem;
    padding: 1.75rem 10.25rem;
  }

  .cart {
    top: 6rem;
    right: 10rem;
  }

  nav {
    display: flex;
    font-size: 1.25rem;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px $nav-border solid;
    max-height: 4rem;

    .menu-toggle,
    .close {
      display: none;
    }

    .nav-group {
      margin-bottom: 3rem;
    }
    .nav-link {
      font-size: 0.9375rem;
      font-weight: 400;
      color: $text-primary;
      margin-right: 2rem;
      padding-bottom: 3rem;
      cursor: pointer;

      &.active {
        border-bottom: 3px $primary solid;
      }
    }

    div {
      display: flex;
      align-items: center;
    }
  }
}

body {
  font-family: $font-family;
  color: $text-primary;
  font-size: var(--body-font-size);
}

p {
  margin: 0;
}

h1 {
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  color: $heading-text;
  font-weight: 700;
}

h2 {
  font-size: $h2-font-size;
  font-weight: 700;
  color: $heading-text;
}

h3 {
  font-size: $h3-font-size;
  line-height: $h3-line-height;
  font-weight: 700;
  color: $heading-text;
}

h4 {
  font-size: var(--h4-font-size);
  color: $primary;
  font-weight: 700;
  text-transform: uppercase;
}

.btn {
  padding: 1.25rem 0;
  background-color: $primary;
  color: white;
  border-radius: $border-radius;
  font-weight: 700;
  border: none;

  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }
}

.discount {
  border-radius: 0.375rem;
  background: #ffeee2;
  color: $primary;
  font-size: $h3-font-size;
  font-weight: 700;
  padding: 0.5rem;
  margin-left: 1rem;
}

.discounted-price {
  text-decoration: line-through;
  font-weight: 700;
  color: $text-secondary;
}

.dialog-overlay {
  position: absolute;
  background-color: black;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.75;
  z-index: 10;
}

.avatar {
  margin-left: 2.5rem;
  height: 3.125rem;
}

.item-count {
  background-color: $primary;
  border-radius: 1rem;
  padding: 0.15rem 0.75rem;
  color: white;
  font-size: 0.625rem;
  font-weight: 700;
  position: relative;
  left: 2.5rem;
  bottom: 0.75rem;
}

.shadowed {
  box-shadow: $button-shadow;
}

.remove-icon {
  color: #c3cad9;
  justify-self: end;
}

.cart {
  box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.5);
  width: 100%;
  max-width: 30rem;
  border-radius: $border-radius;
  position: absolute;
  z-index: 1000;
  background-color: white;

  .container {
    padding: 1.5rem;
  }

  .heading-container {
    border-bottom: $nav-border 1px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
  }
  .heading {
    display: block;
    color: $heading-text;
    font-weight: 700;
  }

  .items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;

    .item-info {
      .total-price {
        color: $heading-text;
        font-weight: 700;
        padding: 0;
      }
      display: flex;
    }
    .name,
    .price {
      margin: 0 1rem;
    }
    img {
      width: 3.125rem;
      border-radius: 0.25rem;
      align-self: center;
    }
  }

  button {
    width: 100%;
  }
}
